  <div class="container bg-secondary p-3">

    <h1>Hasta Luego {{nombreUsuario}}</h1>


    <a class="btn btn-primary" href="/login" role="button">Log in</a>
</div>

<script type="text/JavaScript">
redirectTime = "2000";
redirectURL = "/login";
(function timedRedirect() {
    setTimeout("location.href = redirectURL;",redirectTime);
})()
</script>