
<div class="conteiner">
    <h1>Login De Usuario</h1>
    
    {{#if error}}
        <!--- boostrap closable error box    -->
        <div class="alert alert-danger" role="alert" id="error-box">
            <strong>Error!</strong> <span id="error-message"> {{error}}</span>
        </div>
    {{/if}}

    <form action="/login" method="POST"  >
        <!--- input email    -->
        <label for="email">Ingrese su email </label>
        <input type="email" name="email" id="email" placeholder="Ingrese su email" required>
        <br>
        <!--- input password    -->
        <label for="password">Ingrese su password </label>
        <input type="password" name="password" id="password" placeholder="Ingrese su password" required>
        <br>
        <!--- boton boostrap submit    -->
        <button type="submit" class="btn btn-primary">Login</button>     <a href="/register" class="btn btn-secondary">Registrarse</a>

    </form> 
    <!-- btn boostrap registro -->
</div>
